env/*
.venv
.vscode/*
*.pyc

*.log

*.pid

samples/files/
samples/files-master/
samples/files-worker_1/
samples/files-worker_2/
samples-desktop/files/
samples-desktop/files-master/
samples-desktop/files-worker_1/
samples-desktop/files-worker_2/
tini/tini-amd64


fasttask/files/
fasttask/loaded_tasks/
