[Unit]
Description=Fasttask Service
After=network.target

[Service]
Type=simple
ExecStart=/fasttask/run.sh
Restart=always
StandardError=/var/log/fasttask.log
StandardOut=/var/log/fasttask.log

[Install]
WantedBy=multi-user.target